/* Initial values of the page*/
:root {
  --main: rgb(44, 44, 44);
  --secondary: white;
  --tertiary: rgb(85, 85, 85);
  --cursor: rgb(0, 247, 255);
}

/* light mode*/
[data-theme="light"] {
  --main: white;
  --secondary: rgb(44, 44, 44);
  --cursor: rgb(0, 204, 255);
  --tertiary: rgb(170, 170, 170);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--main);
  height: 100vh;
  /* Example: 50% opacity */
}