.social-container {
  position: fixed;
  bottom: 0%;
  right: 330px;
  /* Adjust the right value according to your preference */
  transform: translateY(-30%);
  z-index: 99;
  /* Set the border radius for the social bar */
  /* Add a box shadow for a subtle effect */
}

.social-container .in-between {
  color: var(--secondary);
  opacity: 0.4;
  display: inline-block;
  padding: 10px;
  transition: opacity 0.5s ease-in;

}

.social-container .in-between:hover {
  color: var(--secondary);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}