.body1 {
    height: 100vh;
}

.welcome {
    padding: 50px;
    background-color: transparent;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    left: 12vw;
    max-width: 1000px;
}

.welcome-title {
    max-width: 900px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 75px;
    color: var(--secondary);
}

.welcome-body {
    max-width: 700px;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: calc(15px + 0.3vw);
    line-height: 35px;
    color: var(--secondary);
}

.role {
    font-style: italic;
    font-weight: 400;
}

.major {
    font-style: italic;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide (tablets and smaller) */
    .welcome-title {
      font-size: 30px;
      line-height: 40px;
    }
  
    .welcome-body {
      font-size: 16px;
      line-height: 22px;
    }
  }
  