.content {
    position: fixed;
    top: 150px;
    padding: 0 17%;
    height: 500px;
    width: 66%;
    text-align: left;
    justify-content: center;
    display: flex;
}

.content .self {
    flex: 1;
}

.content .resume {
    flex: 1;
}

ul li {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    color: var(--secondary);
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    color: var(--secondary);
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 75px;
    color: var(--secondary);
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 40px;
    color: var(--secondary);
}